* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider_about_us {
    width: 90%;
    height: 490px;
    position: relative;
    margin: 0 auto 0 auto;
}

.slider_about_us section {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 3s;
}

.slider_about_us section.selected {
    opacity: 1;
}

.content1 {
    display: flex;
    width: 100%;
    height: 100%;
}

.content1_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: rgb(0, 7, 152, 0.5);
    padding: 0 30px;
}

.content1_right_title {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: rgb(0, 7, 152, 0.5);
    justify-self: flex-start;
    margin-bottom: 30px;
}

.content1_right_text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
    text-align: justify;
}

.content1_left {
    width: 50%;
    height: 100%;
}

.content1_left img {
    width: 100%;
    height: 100%;
}

.content2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.content2_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: rgb(0, 7, 152, 0.5);
    padding: 0 30px;
}

.content2_right_title {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: rgb(0, 7, 152, 0.5);
    justify-self: flex-start;
    margin-bottom: 30px;
}

.content2_right_text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
    text-align: justify;
    justify-self: center;
}

.content2_left {
    width: 50%;
    height: 100%;
}

.content2_left img {
    width: 100%;
    height: 100%;
}

.assistencia {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
    align-items: center;
}

.assistencia_title {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
}

.assistencia_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.servicos {
    width: 90%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 0 auto;
}

.servicos_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
}

.servicos_conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.servicos_conteudo_s1 {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.servicos_conteudo_s2 {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.servicos_conteudo_s3 {
    height: 100%;
    width: 100%;
}

.servicos img {
    width: 100%;
    height: 40%;
}

.conteudo_titulo {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    color: rgb(0, 7, 152, 0.5);
    margin: 20px 0;
}

.conteudo_paragrafo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
    text-align: justify;
}

.contato_e_mapa {
    width: 90%;
    height: 500px;
    display: flex;
    margin: 0 auto 20px auto;
}

.contato {
    width: 50%;
    height: 100%;
}

.contato_titulo {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: rgb(0, 7, 152, 0.5);
    text-align: justify;
    margin-bottom: 20px;
}

.contato_info {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(0, 7, 152, 0.5);
    margin: 10px 0;
}

#nome,
#email {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    outline: none;
    border-style: solid;
}

#mensagem {
    width: 95%;
    height: 100px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    outline: none;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.mapa {
    width: 50%;
    height: 100%;
}

.botao_e_captcha {
    margin-top: 10px;
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
}

#bt_enviar {
    width: 200px;
    height: 50px;
    margin-left: 50px;
    background: rgb(0, 7, 152, 0.5);
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#bt_enviar:active {
    color: rgb(0, 7, 152, 0.5);
    background: white;
    border: 1px solid rgb(0, 7, 152, 0.5);
}

.space_between {
    width: 100%;
    height: 150px;
}

.msg_email {
    width: 100%;
    height: 20%;
    background: aqua;
}